.homeBgContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto';
}

.homeSuccessContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coursesHeading {
  align-self: flex-start;
  font-size: 20px;
  color: #1e293b;
  padding-left: 20px;
}

.coursesUnorderedListContainer {
  width: 90%;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.homeFailureContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.failureImage {
  width: 40%;
}

.failureHeading {
  font-size: 20px;
  color: #4656a1;
}

.failureDescription {
  font-size: 12px;
  color: #64748b;
}

.retryButton {
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #4656a1;
  color: #ffffff;
  cursor: pointer;
}
